.yes.tmp
*.pyc
*xHR*
*xLR*
config.json
FFmpegjpg.sh
special/imgbrd_grabbergen.igl
special/prefixes.json
special/prefixes.txt
special/prefixes2.json
special/settings.txt
prefixes.txt
imgbrd_grabbergen.igl
